*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/*
/app/keystore.jks
/.kotlin/errors

fastlane/report.xml
fastlane/Fastfile
fastlane/Appfile
fastlane/README.md
